<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:description" content="¿Sabes los riesgos que corres a navegar en internet? Comprueba si eres vulnerable" />
    <link rel="icon" href="/static/favicon.ico">

    <title>SoyVulnerable</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/cover.css" rel="stylesheet">
    <link href="/static/css/social.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet" />

    <script src="/static/js/ie-emulation-modes-warning.js"></script>
    {% block js %}
    
    {% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.min.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
	  {% block menu %}
          
	  {% endblock %}
          <div class="inner cover">
            {% block content %}
            
            {% endblock %}
          </div>
          <div class="mastfoot">
            <div class="inner">
	      <div id="social-bar">
		  <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsoyvulnerable.com">
		      <i class="icon icon-facebook"></i>
		  </a>
		  <a href="https://twitter.com/intent/tweet?source=webclient&text=¿Usas+banda+ancha?+Comprueba+si+%23soyvulnerable+http://soyvulnerable.com">
		      <i class="icon icon-twitter"></i>
		  </a>
		  <a href="https://plus.google.com/share?url=http%3A%2F%2Fsoyvulnerable.com">
		      <i class="icon icon-google-plus"></i>
		  </a>
	      </div>
	    </div>
              <p>SoyVulnerable, by <a href="https://twitter.com/malbolgia">@malbolgia</a>.</p>
            </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>