{% extends 'vulns/base.html' %}
{% block menu %}
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">SoyVulnerable</h3>
              <ul class="nav masthead-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/">Problemática</a></li>
                <li class="active"><a href="/">Contacto</a></li>
              </ul>
            </div>
          </div>
{% endblock %}

{% block content %}
<h1>Para mayor información</h1> <h2> Escribir al correo malbolgias[at]gmail.com</h2>
{% endblock %} 