{% extends 'vulns/base.html' %}
{% block menu %}
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">SoyVulnerable</h3>
              <ul class="nav masthead-nav">
                <li><a href="/vulns/">Home</a></li>
                <li><a href="/vulns/problematica/">Problemática</a></li>
                <li class="active"><a href="/vulns/contacto/">Contacto</a></li>
              </ul>
            </div>
          </div>
{% endblock %}

{% block content %}
<h1>Para mayor información escribir al correo malbolgias[at]gmail.com</h1>
{% endblock %} 