{% extends 'vulns/base.html' %}

{% block js %}
<script>
  $("loading-example-btn").click(function() {
      var $btn = $(this);
      $btn.button('Cargando');
      // simulating a timeout
      setTimeout(function () {
	  $btn.button('reset');
      }, 10000);
  });
</script>
{% endblock %}
{% block menu %}
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">SoyVulnerable</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="/vulns/">Home</a></li>
                <li><a href="/vulns/problematica/">Problemática</a></li>
                <li><a href="/vulns/contacto/">Contacto</a></li>
              </ul>
            </div>
          </div>
{% endblock %}
{% block content %}
<h1>{{home}}</h1>
<a href="test/" type="button" class="btn btn-lg btn-default" id="loading-example-btn" data-loading-text="Probando...">Probar</a>


{% endblock %}