{% extends 'vulns/base.html' %}

{% block js %}
<script>
  $("loading-example-btn").click(function() {
      var $btn = $(this);
      $btn.button('Cargando');
      // simulating a timeout
      setTimeout(function () {
	  $btn.button('reset');
      }, 50000);
  });
</script>
{% endblock %}
{% block menu %}
              <ul class="nav masthead-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/problematica/">Problemática</a></li>
                <li><a href="/contacto/">Contacto</a></li>
              </ul>
{% endblock %}
{% block content %}
<h1>{{home}}</h1>
<a href="test/" type="button" class="btn btn-lg btn-default" id="loading-example-btn" data-loading-text="Probando...">Probar</a>


{% endblock %}