{% extends 'vulns/base.html' %}
{% block menu %}
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">SoyVulnerable</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="/vulns/">Home</a></li>
                <li><a href="/problematica/">Problemática</a></li>
                <li><a href="contact/">Contacto</a></li>
              </ul>
            </div>
          </div>
{% endblock %}
{% block content %}
<h1>{{ip}}</h1>
<h2>{{host}}</h2>
{% if vulnerable %}
<h2><strong><font color="red">{{vulnerable}}</font></strong></h2>
{% else %}
<h2><strong><font color="green">No Vulnerable</font></strong></h2>
{% endif %}
{% endblock %}
