{% extends 'vulns/base.html' %}
{% block menu %}
              <ul class="nav masthead-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/problematica/">Problemática</a></li>
                <li><a href="/contacto/">Contacto</a></li>
              </ul>
{% endblock %}
{% block content %}
<h1>{{ip}}</h1>
<h2>{{host}}</h2>
{% if vulnerable %}
<h2><strong><font color="red">{{vulnerable}}</font></strong></h2>
{% else %}
<h2><strong><font color="green">No Vulnerable</font></strong></h2>
{% endif %}
{% endblock %}
