{% extends 'vulns/base.html' %}
{% block menu %}
              <ul class="nav masthead-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/problematica/">Problemática</a></li>
                <li><a href="/contacto/">Contacto</a></li>
              </ul>
{% endblock %}

{% block content %}
<p>El servicio de banda ancha se ha convertido en una necesidad b&aacute;sica. Ha sido catalogado como servicio p&uacute;blico universal por la CEPAL y adem&aacute;s es un punto vital del plan ViveDigital de MinTic. La puerta de entrada entre el Internet y su vida digital es el dispositivo (router) instalado por los proveedores del servicio. Este brinda la conexi&oacute;n a Internet y sus servicios preferidos. En muchos casos tambi&eacute;n ofrece la posibilidad de una red inal&aacute;mbrica. Las personas que contratan los servicios no est&aacute;n enteradas de los riesgos a los cuales est&aacute;n expuestas al contratar el servicio y al recibir el dispositivo en su residencia.</p>

<p>Los dispositivos presentan graves problemas de configuraci&oacute;n, en muchos casos por el uso de llaves compartidas y repetidas. Siguiendo con la analog&iacute;a de las puertas, esto es como si todos sus vecinos tuvieran la misma llave de entrada a sus casas. La diferencia es que en este caso, no se necesita acceso directo a su residencia. Ya que seg&uacute;n reportes del Broad Band Comission existen m&aacute;s de 2.749 mil millones de usuarios de Internet en el mundo, cualquier persona podr&iacute;a intentar violentar su chapa o, en otras palabras, entrar con la llave del vecino.</p>

<p>Una vez adentro, un actor malicioso puede re-direccionar muy f&aacute;cilmente todo el tr&aacute;fico de datos de la persona afectada. Podr&iacute;a capturar sus claves de acceso a redes sociales, bancos y correos sin que Usted u otro usuario entere o pueda asegurar que esto no suceda. Los dispositivos son responsabilidad del proveedor y en general los usuarios comunes no tienen la destreza t&eacute;cnica para protegerse.</p>

<p>Desafortunadamente, esto no lo &uacute;nico que puede suceder, pero s&iacute; es lo m&aacute;s sencillo. Tambi&eacute;n existe la posibilidad de ser el origen de ataques inform&aacute;ticos, generaci&oacute;n de corres masivos basura, propagaci&oacute;n de material il&iacute;cito o distribuci&oacute;n de pornograf&iacute;a infantil. Lo m&aacute;s preocupante de estos ataques, es que se originar&iacute;an desde la residencia de alg&uacute;n usuario desprevenido e inocente que, sin embargo, enfrentar&iacute;a la responsabilidad legal.</p>

<p>Por estas razones es necesario estar alerta, circular esta informaci&oacute;n y tomar las medidas de precauci&oacute;n necesarias. En particular, vale la pena tomarse unos minutos para verificar el estado de vulnerabilidad de su puerta a Internet y mas sobre todo exigir a los proveedores de servicio que tomen cartas en el asunto.</p>

{% endblock %}